.box{
    border: 2px solid rgba(43, 43, 43, 0.247);
    width: clamp(30px,20vw,300px);
    aspect-ratio: 1/0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(231, 230, 230, 0.452);
    align-items: start;
    
    border-radius: 15px;
    font-weight: 550;
    font-size: 15px;
}
.name{
    font-weight: 650;
    text-align: center;
    width: 100%;
    color: rgb(61, 61, 245);
    font-size: 20px;
}